<h1>Car Dealership</h1>
<form action="/items" method="post">
  <label for="new-item">Make:</label>
  <input id="new-item" name="new-item" type="text">


  <label for="new-item">Mileage:</label>
  <input id="new-item" name="new-item" type="text">
  <label for="new-item">Model:</label>
  <input id="new-item" name="new-item" type="text">
  <label for="new-item">Year:</label>
  <input id="new-item" name="new-item" type="text">



  <button type="submit">Submit</button>
</form>
